@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("./reset.css");
@import url("./variables.css");
@import url("./themes/default.css");
@import url("./themes/light.css");
@import url("./themes/dark.css");

html,
body {
  width: 100dvw;
  font-family: "DM Sans", sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);

  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-background);
  transition:
    color 200ms,
    background-color 200ms;
  overflow-x: hidden;
}

::selection {
  color: var(--color-selection-text);
  background-color: var(--color-selection-background);
}

#root {
  width: 100dvw;

  height: 100%;
  display: flex;
  flex-direction: column;

  gap: 12px;
  /* padding: 1rem; */

  /* margin-bottom: 50px; */
}

a {
  color: var(--color-primary);
}
