.stack {
  display: flex;
  flex-direction: column;
  gap: 4px;

  border: 2px solid var(--md-surface-container);
  padding: 24px;
  border-radius: 24px;

  .title {
    color: var(--md-primary);
    font-size: var(--text-size-large);
    font-weight: bold;
  }

  .description {
    font-size: var(--text-size-medium);
    font-weight: bold;
  }
}
